* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#item1 {
    width: 100%;
    height: auto;
    position: relative;
}

#item1 img {
    width: 100%;
}

#item1 .text {
    position: absolute;
    color: white;
    left: 30%;
    top: 40%;
    font-size: xx-large;
    text-decoration: solid black;
    /* font-family:'Courier New', Courier, monospace ; */
    /* font-display: inherit; */
    transform: translate(-50%, -50%);
}

#item1 .p {
    position: absolute;
    color: white;
    padding-top: 10px;
    left: 15%;
    top: 40%;
    font-size: large;
    text-decoration: solid black;
    font-display: inherit;
}

#item1 .btn {
    position: absolute;
    color: white;
    /* padding-top: 2px; */
    left: 15%;
    top: 50%;
    font-size: large;
    text-decoration: solid black;

}


#item2 {
    width: 100%;
    height: auto;
    position: relative;
}

#item2 img {
    width: 100%;
}

#item2 .text2 {
    position: absolute;
    color: white;
    left: 30%;
    top: 40%;
    font-size: xx-large;
    text-decoration: solid black;
    /* font-family:'Courier New', Courier, monospace ; */
    /* font-display: inherit; */
    transform: translate(-50%, -50%);
}

#item2 .p2 {
    position: absolute;
    color: white;
    padding-top: 10px;
    left: 15%;
    top: 40%;
    font-size: large;
    text-decoration: solid black;
    font-display: inherit;
}

#item2 .btn2 {
    position: absolute;
    color: white;
    /* padding-top: 2px; */
    left: 15%;
    top: 50%;
    font-size: large;
    text-decoration: solid black;

}

#item3 {
    width: 100%;
    /* height: auto; */
    position: relative;
}

#item3 img {
    width: 100%;
}

#item3 .text3 {
    position: absolute;
    color: white;
    left: 30%;
    top: 60%;
    font-size: xx-large;
    text-decoration: solid black;
    /* font-family:'Courier New', Courier, monospace ; */
    /* font-display: inherit; */
    transform: translate(-50%, -50%);
}

#item3 .p3 {
    position: absolute;
    color: white;
    padding-top: 10px;
    left: 15%;
    top: 40%;
    font-size: large;
    text-decoration: solid black;
    font-display: inherit;
}

#item3 .btn3 {
    position: absolute;
    color: white;
    /* padding-top: 2px; */
    left: 15%;
    top: 50%;
    font-size: large;
    text-decoration: solid black;

}